<div [@flyOnOut] ="isOpen ? 'bin' : '*' "  >
<div style="display:flex; align-items: center; text-align: center; flex-direction: column"><mat-card-title> Télécharger la documentation utilisateur en cliquant sur le bouton ci-dessous.</mat-card-title>
<button class="mybutton" mat-raised-button color="primary" (click)="downloadFile()">Documentation</button>
</div>
</div>
