.mybutton {
  margin-top: 60px;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
  @media (max-width: 400px) {
    align-items: center;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.mybutton:hover{
  background-color: white;
  color: black;
}

.mat-card-title {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
}

button {
  font-family: "TorusPro-Italic;", Arial, Helvetica, sans-serif;
}
