.card {
  @media (max-width: 1280px) {
    margin-top: 25px;
  }
  @media (max-width: 768px) {
    margin:0px;
  }
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.secondContainers{
  width: 70%;
  justify-content : center;
  margin-top: 30px;
  background-color: transparent;
  align-items: center;
  display: flex;
  border-radius:30px;
}

.priceContent{
  margin-top: auto;
}

.bouton {
  margin-top: 30px;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 10px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  width: 30%;
  font-size: 15px;
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 3.89rem;
    padding-right: 4.5rem;
  }
  @media (max-width: 570px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 2.75rem;
    padding-right: 3.5rem;
  }
  @media (max-width: 480px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 2.3rem;
    padding-right: 3.5rem;
  }
  @media (max-width: 420px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 1.75rem;
    padding-right: 3.5rem;
  }
  @media (max-width: 250px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 3.5rem;
  }
}

.boutton {
  margin-top: 10px;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 10px;
  font-size: 15px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  width: 30%;
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 3.89rem;
    padding-right: 4.5rem;
  }
  @media (max-width: 570px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 2.75rem;
    padding-right: 3.5rem;
  }
  @media (max-width: 480px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 2.3rem;
    padding-right: 3.5rem;
  }
  @media (max-width: 420px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 1.75rem;
    padding-right: 3.5rem;
  }
  @media (max-width: 250px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 3.5rem;
  }
}

.boutton:hover {
  background-color: white;
  color: black;
}

.bouton:hover {
  background-color: white;
  color: black;
}

.secondsContainers {
  @media (max-width: 768px) {
    border-radius: 30px;
    padding-top:30px;
  }
  @media (max-width: 480px) {
    border-radius: 30px;
    padding-top:30px;
  }
  @media (max-width: 348px) {
    border-radius: 30px;
    padding-top:30px;
  }
  @media (max-width: 213px) {
    border-radius: 30px;
    padding-top:30px;
  }
  background: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:2vh 2vh;
  border-radius: 10px;
}

.secondContainers input, .secondsContainers textarea {
  border:0;
  padding: 20px;
  outline :none;
  background : #fff;
  font-size: 19px;
}


.margin {
  margin-top: 10px;
}

.marginSend {
  margin-top: 20px;
}

h2{
  font-family: "TorusPro-LightItalic;", Arial, Helvetica, sans-serif;
  font-size: 18px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @media (max-width: 686px) {
    font-size: 15px
  }
  @media (max-width: 468px) {
    font-size: 14px;
    line-height: 25px;
  }
  text-align: center;
}

input{
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
}

textarea{
  @media (max-width: 768px) {
    font-size: 7px;
  }
  border-radius: 5px;
  resize: none;
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
}

.resizeEmail{
  width: 92.5%;
  min-height: 3vh;
  display: flex;
  font-size: 16px;
  border-radius: 3px;
  border: none;
}

.resizeObject{
  display: flex;
  width: 92.5%;
  min-height: 3vh;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}

.colori{
  background-color: white;
  color: #df6060;
}

.marginText{
  margin-bottom: 30px;
  display: flex;
  text-align: center;
  align-items: center;
}

span{
  margin-left: 10px;
  display : flex;
  flex-direction: row;
  width: 100%;
}

.mat-icon {
  margin-top: 5px;
  font-size: 20px;
  color: #3f51b5;
  margin-left: 4px;
  margin-right: 2px;
}

button {
  font-family: "TorusPro-Italic;", Arial, Helvetica, sans-serif;
}

.mat-card-title {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  display : flex;
  text-align: center;
  line-height: 24px;
}

.imodify {
  background-color: white;
  border-right: grey solid 0.1px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.iundermodify {
  background-color: white;
  border-right: grey solid 0.1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.mat-card-title
{
  font-size: 30px;
}

h1 {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  font-size: 25px;
  @media (max-width: 300px) {
    font-size: 18px;
  }
}
