<div [@flyOnOut] ="isOpen ? 'bin' : '*' "  >
  <div class="card" style="margin-top: auto" >
   <div class ="secondsContainers">
    <div class="marginText">
        <h1> Contactez-nous </h1>
    </div>
       <div style="margin-bottom: 30px" >
       <h2>Si vous avez un problème, ou une suggestion n'hésitez pas à nous envoyer un Email !</h2>
       </div>
       <span> <i class="imodify"><mat-icon>email icon</mat-icon></i> <label for="email"></label><input class="resizeEmail" type="email" id="email" placeholder="  De : " [(ngModel)]="this.email" required> </span>
       <span> <i class="iundermodify"><mat-icon>search</mat-icon></i> <label for="subject"></label><input  class="resizeObject" type="text" id="subject" placeholder="  Objet :" [(ngModel)]="this.subject" required> </span>
    <label for="message"></label><textarea style="width: 90%" id="message" rows="10" placeholder="Comment pouvous-nous vous aidez ?" [(ngModel)]="this.content" required></textarea>
    <button class="bouton" (click)="this.onClickModify()">Envoyer</button>
    <button class="boutton" (click)="this.backClicked()">Retour</button>
    </div>
  </div>
</div>

