<div [@flyOnOut]="isOpen ? 'bin' : '*'">
    <div style="display: flex; text-align: center; align-content: center;margin-bottom: 30px; flex-direction: column">
        <h1 style="font-size: 30px"> Télécharger la Beta :</h1>
    </div>
    <div *ngIf="connected; else loginElseBlock">
        <div *ngIf="!betaAccess; else accessElseBlock">
            <h2> Vous n'avez actuellement pas accès à la bêta. Veuillez entrer un code bêta sur la page appropriée.</h2>

        </div>

        <ng-template #accessElseBlock>
            <div  style="display:flex; align-items: center; text-align: center; flex-direction: column">
            <h2> Votre compte a accès à la bêta. Téléchargez la grâce au bouton ci-dessous.</h2>
            <button style="align-content: center; align-items: center;" class="Mybuton" mat-raised-button color="primary" (click)="downloadFile()">Download Beta</button>
            </div>
        </ng-template>
    </div>

    <ng-template #loginElseBlock>
        <h2>Vous n'êtes pas connecté.</h2>
    </ng-template>
</div>
