.Mybuton {
  margin-top: 20px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-radius: 10px;
  font-size: 15px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (max-width: 400px) {
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.Mybuton:hover{
  background-color: white;
  color: black;
}

h2 {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  align-items: center;
  display: flex;
  align-content: center;
  text-align: center;
}

.Use {
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

h1 {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
}

button {
  font-family: "TorusPro-Italic;", Arial, Helvetica, sans-serif;
}
