<div [@flyOnOut]="isOpen ? 'bin' : '*'">
    <div style="display: flex; text-align: center; align-content: center;margin-bottom: 30px; flex-direction: column">
        <h1>Beta Access:</h1>
    </div>
    <div  *ngIf="this._loginService.loginInfos.connected; else loginElseBlock">
        <div *ngIf="!betaAccess; else accessElseBlock">
            <form style="text-align: center; align-content: center; flex-direction: column">
                <h2> Vous n'avez actuellement pas accès à la bêta. Veuillez entrer un code d'accès ci-dessous.</h2>
                <br/>
                <br/>
                <mat-form-field  class="example-full-width" appearance="fill">
                    <mat-label class="Use">Code d'accès</mat-label>
                    <input matInput  [(ngModel)]="accessCode" name="accessCode">
                    <button style="margin-left: 46px" class="Mybuton" mat-raised-button type="submit" (click)="useCode()">Utiliser</button>
                </mat-form-field>
                <br/>
            </form>
        </div>

        <ng-template #accessElseBlock>
            <h2> Votre compte à déjà accès à la bêta.</h2>
        </ng-template>
    </div>

    <ng-template #loginElseBlock>
        <h2>Vous n'êtes pas connecté, veuillez vous connecter dans la page profile ou vous inscrire.</h2>
    </ng-template>
</div>
