<div [@flyOnOut] ="isOpen ? 'bin' : '*' "  >
    <mat-card class="example-card">
        <mat-card-title>Feuille de route</mat-card-title>
    </mat-card>

    <mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th style="padding-right: 38px" mat-header-cell *matHeaderCellDef> Événements </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th style="margin-bottom: 8px"mat-header-cell  *matHeaderCellDef> Description </th>
            <td style="margin-bottom: 6px" mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th  mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
