.mat-column-name {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 35px;
    text-align: center;
}

.mat-column-date {
    width: 32px;
    padding-left: 10px;
    text-align: center;
}

.mat-column-description {
    padding-left: 16px;
    font-size: 18px;
    text-align: center;
}

td {
    font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
    border: none;
}

th {
    font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
    border: none;
}

.mat-header-row {
    border: none;
}

.mat-row {
    border: none;
}

.example-card {
    text-align: center;
}

.mat-table {
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 5px;
    padding-right: 10px;
}

.mat-card-title {
    font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
    font-size: 28px;
}
