<div [@flyOnOut] ="isOpen ? 'bin' : '*' "  >
    <mat-card class="example-card">
        <h1> Superficia c'est quoi ? </h1>
        <mat-divider></mat-divider>
        <br/>
        <h3>
            Superficia est une application à destination de professionnels qui apporte une nouvelle vision à l’organisation des espaces. </h3>
        <br/>
        <h3> En effet,
            cet outil permet à partir de contraintes, de définir plusieurs solutions d’aménagement qui pourront être par la suite sélectionnées par l’utilisateur. Grâce à un algorithme,
            il nous est donc possible de respecter de multiples contraintes comme, l'espacement, le mobilier déjà présent, les prises électriques, les fenêtres, les axes de passage.</h3>
        <br/>
        <h3>L’application fournit une visualisation 2D et 3D de l’espace réaménagé.</h3>
        <br/>
        <br/>
        <div class="video-center" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZmJsuKn4-ig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </mat-card>
</div>
