@import "../app.component.scss";

h1 {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
  @media (max-width: 800px) {
    font-size: smaller;
  }
}

.video-center {
  padding-left: 175px;
  @media (max-width: 820px) {
    padding-left: 70px;
  }
}

.mat-card {
  font-family: "TorusPro-Light;", Arial, Helvetica, sans-serif;
}
