<div [@flyOnOut] ="isOpen ? 'bin' : '*' "  >
    <!-- logged in -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <div style="margin-top: 60px" class="mycard" *ngIf="!connected; else elseBlock">
        <mat-card-title>
            <h1>Connexion Entreprise</h1>
        </mat-card-title>
        <br/>
        <form style="background-color: #fafafa; border-radius: 5px; padding: 30px">
            <!--email-->
            <div style="margin-left: -10px; margin-bottom: -30px; align-items: center;">
                <mat-error style="font-size: 12px"*ngIf="Email.invalid">{{getErrorEmailMessage()}}</mat-error>
                <mat-icon>account_circle</mat-icon>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput minLength="4" placeholder="Ex. tom.smith@gmail.com" [(ngModel)]="email" [formControl]="Email" name="email" required>
                </mat-form-field>
            </div>
            <br/>
            <!--password-->
            <div style="margin-left: -10px; margin-bottom: -20px;">
                <mat-error style="font-size: 12px;" *ngIf="getErrorMessagePassword()">4 caractères minimum</mat-error>
                <mat-icon>lock</mat-icon>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input minlength="4" [type]="hide ? 'password' : 'text'"matInput placeholder="*********" [(ngModel)]="password" name="password" required>
                    <button style="margin-left: -32px;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <br/>
            <div>
                <button class="mybutton" mat-raised-button type="submit" (click)="connect()">Se connecter</button>
            </div>
            <button class="myButton"  mat-raised-button routerLink="/register" type="submit">S'inscrire</button>
        </form>
    </div>

    <!--else logged in-->

    <ng-template #elseBlock>
        <div class="mycard">
            <mat-card-title> <h1>Informations personnelles</h1></mat-card-title>
            <br/>
            <h2 style="margin-bottom: 30px;">Vous êtes connecté en tant que : {{this.email}}.</h2>
            <div>
                <span> <h3>Adresse mail : </h3> <mat-card-title>{{this.email}}</mat-card-title> </span>
            </div>
            <button class="mybuton" (click)="toggleResetEmail()">Modifier</button>
            <div style="margin-top: 10px"></div>
            <mat-form-field *ngIf="resetEmail" class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <mat-error style="font-size: 12px"*ngIf="Email.invalid">{{getErrorEmailMessage()}}</mat-error>
                <input matInput #email placeholder="Ex. tom.smith@gmail.com" name="resetEmail" [formControl]="Email" required>
                <button (click)="openSnackBar(email.value, 'Modifié(e)')" style="margin-left: 46px" class="Mybuton" mat-raised-button type="submit" (click)="modifyMail(email.value)">Valider</button>
            </mat-form-field>
            <mat-divider></mat-divider>
            <div style="margin-top: 10px">
                <span> <h3>Mot de passe : </h3>  <mat-card-title> {{password}}</mat-card-title> </span>
            </div>
            <div class="resize3">
                <button class="mybuton" (click)="toggleResetPwd()">Modifier</button>
            </div>
            <mat-form-field *ngIf="resetPwd" class="example-full-width" appearance="fill">
                <mat-label >Mot de passe</mat-label>
                <input matInput minlength="4" [type]="hide ? 'password' : 'text'" #password  name="resetPassword" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <button  style="margin-left: 46px" class="Mybuton" mat-raised-button type="submit" (click)="openSnackBar(this.password.value, 'Modifié(e)')" (click)="modifyPwd(password.value)">Valider</button>
            </mat-form-field>
            <br/>
            <div class="resizeend">
                <button class="mybutton" mat-raised-button (click)="openSnackBar(this.email, 'Déconnecté')" (click)="disconnect()">Se déconnecter</button>
            </div>
        </div>
    </ng-template>
</div>
