@import "../app.component.scss";

.mybutton {
  margin-top: 20px;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
  @media (max-width: 400px) {
    align-items: center;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.myButton {
  margin-top: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (max-width: 400px) {
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.myButton:hover{
  background-color: white;
  color: black;
}

.mybutton:hover{
  background-color: white;
  color: black;
}

.Mybuton {
  margin-top: 20px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-radius: 10px;
  font-size: 15px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (max-width: 400px) {
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.Mybuton:hover{
  background-color: white;
  color: black;
}


.mybuton {
  margin-top: 20px;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  font-size: 15px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 2rem;
  }
  @media (max-width: 400px) {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 2rem;
  }
}

.mybuton:hover{
  background-color: white;
  color: black;
}

.mat-card-title {
  border: none;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 15px;
  @media (max-width: 780px) {
    font-size: 18px;
  }
  @media (max-width: 450px) {
    font-size: 16px;
  }
}

.mycard {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #fafafa;
  border-radius: 20px;
  @media (max-width: 680px) {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 420px) {
    padding: 1px;
  }
}

.p-inputgroup-addon {
  background: #eaeaea;
  color: #848484;
  border-top: 1px transparent;
  border-left: 1px transparent;
  border-bottom: 1px transparent;
  padding: 0.429rem 0.429rem;
  min-width: 2.357rem;
}

.example-full-width {
  padding: 0px;
}

.inputContainer{
  margin-bottom: 20px;
}

.mat-form-field{
  margin-left: 5px;
  border-radius: 5px;
}

.mat-icon {
  font-size: 22px;
  @media (max-width: 380px) {
    font-size: 19px;
  }
}

h2 {
  margin-top: 30px;
  @media (max-width: 780px) {
    font-size: 17px;
  }
  @media (max-width: 450px) {
    font-size: 15px;
  }
}

.ng-template {
  align-items: center;
  align-content: center;
}

.resize {
  margin-top: 30px;
  margin-bottom: 20px;
}

.resize2 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.resizeend {
  margin-top: 35px;

}

.resize3 {
  margin-bottom: 10px;
}

.mat-divider {
  margin-top: 20px;
  width: 450px;
  color: black;
}

h1 {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  font-size: 29px;
  @media (max-width: 780px) {
    font-size: 24px;
  }
  @media (max-width: 450px) {
    font-size: 20px;
  }
}

.mat-card {

}

span{
  display : flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  color: #161719;
}


.mat-form-field-wrapper {
  padding-bottom: 0.2px;
}

a {
  font-family: "TorusPro-LightItalic", Arial, Helvetica, sans-serif;
}

button {
  font-family: "TorusPro-Italic;", Arial, Helvetica, sans-serif;
}
