/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto,
     "Helvetica Neue", sans-serif;
     }

.background-size {
    background-size: cover;
  }

@font-face {
  src: local("TorusPro-SemiBoldItalic"), url(./assets/font/TorusPro-SemiBoldItalic.ttf) format("truetype");
  font-family: "TorusPro-SemiBoldItalic;";
}

@font-face {
  src: local("TorusPro-Light"), url(./assets/font/TorusPro-Light.ttf) format("truetype");
  font-family: "TorusPro-Light;";
}

@font-face {
  src: local("TorusPro-Italic"), url(./assets/font/TorusPro-Italic.ttf) format("truetype");
  font-family: "TorusPro-Italic;";
}

@font-face {
  src: local("TorusPro-Lightitalic"), url(./assets/font/TorusPro-LightItalic.ttf) format("truetype");
  font-family: "TorusPro-Lightitalic;";
}

@font-face {
  src: local("TorusPro-SemiBold"), url(./assets/font/TorusPro-SemiBold.ttf) format("truetype");
  font-family: "TorusPro-SemiBold;";
}
