@import "../app.component.scss";

h1 {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.mat-card {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  padding-bottom: 0px;
  margin-top: 10px;
  width: 350px;
}
