<div [@flyOnOut] ="isOpen ? 'bin' : '*' "  >
    <h1 class="card-container">L'équipe Superficia</h1>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <div class="horizontal">
        <div *ngFor="let member of members">
            <mat-card style="border-radius: 30px;" class="example-card">
                <mat-card-header>
                    <!--<img style="width: 116px;height: 150px; margin-bottom: 30px; padding-left: 15px; border-radius:30px" [src]="member.img"/>-->
                    <mat-card-title style="margin-top: 20px">{{ member.name }}</mat-card-title>
                    <mat-card-subtitle>{{ member.role }}</mat-card-subtitle>
                    <mat-card-subtitle style="font-size: 13px">
                        <h4 style="padding-top: 30px">mail :</h4>
                        {{ member.mail }}
                    </mat-card-subtitle>
                </mat-card-header>
                <!--<mat-card-actions class="card-container">
                  <button mat-button>Linkedin</button>
                </mat-card-actions>-->
            </mat-card>
            <br/>
        </div>
    </div>
</div>
