<div style="width: 100%" [@flyOnOut]="isOpen ? 'bin' : '*'">
<div style="margin-left:20px;"class="title-home">
  <mat-card-title class="font-size">Superficia  </mat-card-title>
  </div>
<br/>
<div style="margin-left:30px; text-align: center; border: none; padding-bottom: 100px">
  <mat-card-title class="font-size1">Réinventons la notion d'organisation !</mat-card-title>
</div>
<br/>
  <h2 style="color: black" class="Goodfont"> <span class="GoodFont"><a class="redifine" href="#Superficia">Superficia</a></span> est un outil qui assiste les architectes afin d'accomplir ce qu'ils savent faire de mieux, créer.</h2>
<br/>

  <mat-card id="Superficia" class="example-card">
    <h1 style="font-size: 40px"> Superficia c'est quoi ? </h1>
    <mat-divider></mat-divider>
    <br/>
    <h3>
      Superficia est une application à destination de professionnels qui apporte une nouvelle vision à l’organisation des espaces. </h3>
    <br/>
    <h3 style="text-align: center"> En effet,
      cet outil permet à partir de contraintes, de définir plusieurs solutions d’aménagement qui pourront être par la suite sélectionnées par l’utilisateur. Grâce à un algorithme,
      il nous est donc possible de respecter de multiples contraintes comme, l'espacement, le mobilier déjà présent, les prises électriques, les fenêtres, les axes de passage.</h3>
    <br/>
    <h3>L’application fournit une visualisation 2D et 3D de l’espace réaménagé.</h3>
    <br/>
    <br/>
    <div class="video-center" >
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZmJsuKn4-ig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </mat-card>

<!--<div class="card-container">
  <a class="card" rel="noopener" routerLink="{{this.downloadBetaUrl}}">
    <div class="iconplacement">
    <mat-icon>launch icon</mat-icon>
    </div>
    <span>Télécharger la Bêta</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card" rel="noopener" routerLink="{{this.enterBetaCodeUrl}}">
    <div style="margin-right:8px;">
    <mat-icon>check</mat-icon>
    </div>
    <span>Entrer un code d'accès Bêta</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
  
  <a class="card" rel="noopener" routerLink="{{this.profileUrl}}">
      <mat-icon>person</mat-icon>
    <span>Profil</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card" rel="noopener" routerLink="/team">
    <div class="iconplacement">
    <mat-icon>domain icon</mat-icon>
    </div>
  <span>L'équipe</span>
  <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card" rel="noopener" routerLink="/roadmap">
    <div class="iconplacement">
    <mat-icon>event_available</mat-icon>
    </div>
  <span>Feuille de route</span>
  <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card" rel="noopener" routerLink="/project">
    <div class="iconplacement">
    <mat-icon>school icon</mat-icon>
    </div>
  <span>Projet</span>
  <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
  <a class="card" style="margin-left: 16px" rel="noopener" routerLink="/contactus">
    <div class="iconplacement">
      <mat-icon>email icon</mat-icon>
    </div>
    <span>Contactez-nous</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card" rel="noopener" routerLink="/documentation">
    <div class="iconplacement">
    <mat-icon>event_available</mat-icon>
    </div>
  <span>Documentation Utilisateur</span>
  <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
</div>
-->
</div>
