

.title-home {
  text-align: center;
  border: none;
  margin-bottom: 45px;
}

h1 {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  text-align: center;
  @media (max-width: 400px) {
    text-align: center;
  }
}

.mat-card-title {
  font-size: 60px;
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  line-height: 3.25rem;
  @media (max-width: 650px) {
    text-align: center;
    margin: auto;
  }
}

.font-size {
  font-size: 75px;
  @media (max-width: 650px) {
    font-size: 60px;
    text-align: center;
    margin: auto;
  }
  @media (max-width: 450px) {
    font-size: 50px;
    text-align: center;
    margin: auto;
  }
}

.font-size1 {
  font-size: 41px;
  @media (max-width: 650px) {
    font-size: 33px;
    text-align: center;
    margin: auto;
  }
  @media (max-width: 550px) {
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    margin: auto;
  }
  @media (max-width: 400px) {
    line-height: 20px;
    font-size: 19px;
    text-align: center;
    margin: auto;
  }
}
.iconplacement {
  margin-right:3px;
  display: flex;
  align-items: center;
}

 .Goodfont{
  font-family: "TorusPro-Italic;", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
   text-align: center;
   margin: auto;
   width: 100%;
   @media (max-width: 1000px) {
     text-align: center;
     margin: auto;
   }
  @media (max-width: 650px) {
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin: auto;
  }
   @media (max-width: 600px) {
     width: 70%;
     font-size: 15px;
     text-align: center;
     margin: auto;
   }
   @media (max-width: 500px) {
     width: 60%;
     padding-left: 30px;
     font-size: 14px;
     text-align: center;
     margin: auto;
   }
   @media (max-width: 400px) {
     width: 40%;
     padding-left: 30px;
     font-size: 14px;
     text-align: center;
     margin: auto;
   }
}

.GoodFont{
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #125699;
  margin: auto;
  @media (max-width: 1000px) {
    text-align: center;
    margin: auto;
  }
  @media (max-width: 650px) {
    font-size: 29px;
    text-align: center;
    margin: auto;
  }
}

h2 {
  text-align: center;
  @media (max-width: 800px) {
    font-size: medium;
  }
}

h3 {
   text-align: center;
   @media (max-width: 800px) {
     font-size: medium;
   }
 }

h4 {
  text-align: center;
  @media (max-width: 800px) {
    font-size: smaller;
  }
}

.video-center {
  padding-left: 175px;
  @media (max-width: 820px) {
    padding-left: 70px;
  }
}

.mat-card {
  font-family: "TorusPro-Light;", Arial, Helvetica, sans-serif;
  margin-top: 550px;
  margin-bottom: 50px;
}

.redifine {
  text-decoration-line: none;
  color: #1976d2;
  @media (max-width: 650px) {
    font-size: 20px;
    text-align: center;
    margin: auto;
  }
}

.redifine:hover {
  color: black;
}
