.card {
  @media (max-width: 768px)  {
    margin-top: 20px;
    width: 100%;
  }
  width: 100%;
  margin-top: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #161719;
  font-family: "DM Sans", sans-serif;

  .cardContent {
    @media (max-width: 1280px) {
      margin-bottom: 150px;
    }
    @media (max-width: 768px) {
      margin-top: 50px;
    }
    @media (max-width: 520px) {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 10px;
      padding-bottom: 10px
    }
    background: #fafafa;
    color: #161719;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .title {
    @media (max-width: 780px) {
      margin-bottom: 10px;
      font-size: 26px;
      text-align: center;
    }
    @media (max-width: 480px) {
      text-align: center;
      font-size: 20px;
    }
    @media (max-width: 320px) {
      text-align: center;
      font-size: 15px;
    }
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .subtitle {
    @media (max-width: 480px) {
      margin-bottom: 10px;
      font-size: 18px;
    }
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .inputContainer {
    margin-bottom: 5px;
    width: 250px;
  }

  .registerGroup {
    display: flex;
    align-items: center;
    justify-content: center;
  margin-left: -25px;
    a {
      color: #125699;
      text-decoration: none;
      margin-left: 5px;

      &:hover {
        color: grey;
        text-decoration: underline;
      }
    }
  }
}

.registerButton {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #3f51b5;
  border-color: white;
  color: white;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
  @media (max-width: 400px) {
    align-items: center;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.registerButton:hover{
  background-color: white;
  color: black;
}

.Bordernone {
  display: flex;
  width: 100%;
  min-height: 3.5vh;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}

span{
  display : flex;
  flex-direction: row;
  width: 100%;
}

.mat-focus-indicator {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 62px;
  @media (max-width: 780px) {
    margin-left: 70px;
  }
  @media (max-width: 450px) {
    margin-left: 65px;
  }

}

.imodify {
  background-color: white;
  border-right: grey solid 0.1px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.iundermodify {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.mat-icon {
  margin-top: 5px;
  border-right: 1px solid grey;
  font-size: 20px;
  color: #3f51b5;
  margin-left: 4px;
  margin-right: 2px;
}

h1 {
  font-family: "TorusPro-SemiBoldItalic;", Arial, Helvetica, sans-serif;
  font-size: 29px;
  display: flex;
  align-items: center;
  text-align: center;
}

button {
  font-family: "TorusPro-Italic;", Arial, Helvetica, sans-serif;
}
