<div [@flyOnOut] ="isOpen ? 'bin' : '*' "  >
<div class="card">
    <div class="cardContent">
      <mat-card-title>
        <h1>Inscription Superficia !</h1>
      </mat-card-title>
        <div style="margin-top: 30px" class="p-inputgroup">
          <mat-error style="width: 100%; margin-left: 100px; font-size: 12px" *ngIf="Email.invalid">{{getErrorEmailMessage()}}</mat-error>
           <span> <i class="iundermodify"><mat-icon>mail</mat-icon></i>
          <input class = "Bordernone"
                 style="width: 100%"
                 type="email"
                 [(ngModel)]="this.email"
                 [formControl]="Email"
                 placeholder=" Email"
                 minlength="5"
                 email="true"
                 required
          />
           </span>
        </div>
        <div>
          <mat-error style="width: 100%; margin-left: 100px; font-size: 12px;" *ngIf="getErrorMessageUsername()">Minimum 4 caractères</mat-error>
          <span> <i class="iundermodify"><mat-icon>account_circle</mat-icon></i>
          <input class ="Bordernone"
            type="text"
            placeholder=" Nom d'utilisateur"
            [(ngModel)]="this.username" required
          />
          </span>
        </div>
<!--      flag-->
        <div class="p-inputgroup">
          <mat-error style="width: 100%; margin-left: 80px; font-size: 12px;" *ngIf="getErrorMessagePassword()">Minimum 4 caractères</mat-error>
          <span> <i class="iundermodify"><mat-icon>key</mat-icon></i>
          <input class ="Bordernone" type="password" [(ngModel)]="this.password" placeholder=" Mot de passe" required>
          </span>
        </div>
        <div class="p-inputgroup">
          <mat-error style="width: 100%; margin-left: 60px; font-size: 12px;" *ngIf="getErrorMessagePhone()">Entrer un Numéro de téléphone Valide</mat-error>
           <span> <i class="iundermodify"><mat-icon>phone</mat-icon></i>
          <input class ="Bordernone" [(ngModel)]="this.phone"
            type="tel"
                 id="phone"
                 pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}"
                 name="phone"
            maxlength="12"
            mask="99-99-99-99-99"
            placeholder=" 99-99-99-99-99"
            required numbersOnly
          />
           </span>
        </div>
      <mat-error style="width: 100%; margin-left: 50px; font-size: 12px;" *ngIf="getErrorMessageAll()">Veuillez renseigner toutes les cases</mat-error>

      <button style="margin-top: 30px" (click)="this.onClickRegister()"
        class="registerButton"
        mat-raised-button
      >S'inscrire</button>
      <div class="registerGroup">
        Déjà inscrit ?<a routerLink='/profile'>Connexion</a>
      </div>
    </div>
  </div>
</div>
